<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>OrbitLauncher</string>
	<key>CFBundleExecutable</key>
	<string>OrbitLauncher</string>
	<key>CFBundleIconFile</key>
	<string>OrbitLauncher-icon.png</string>
    <key>CFBundleIdentifier</key>
    <string>com.s7venyoung.orbitlauncher</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OrbitLauncher</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.2</string>
    <key>CFBundleVersion</key>
    <string>4</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAppleEventsUsageDescription</key>
    <string>OrbitLauncher 需要控制当前浏览器，以提供由 Surface Dial 驱动的连续平滑缩放。</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 S7venYoung</string>
</dict>
</plist>
